@font-face {
  font-family: Inter;
  src: url("/themes_custom/ModernFonts/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("/themes_custom/ModernFonts/fonts/Inter-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: Inter !important;
}
